@import ../partials/colors
@import ../partials/reset
@import ../partials/transforms
@import ../partials/icons

#landing
  text-align: center
  width: 100%
  height: 100vh
  background-image: url('../images/background/vsCode.jpg')
  background-size: cover
  color: $screen

#landingWrapper
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100vh
  transform-style: preserve-3d
  perspective: 600
  transform: rotateX(80deg)

#initialsLogo
  position: absolute
  width: 100px
  height: 100px
  left: 50%
  top: 45%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

#centerWrapper
  height: 100vh
  @extend .centerVertical
  transform-style: preserve-3d
  perspective: 600

#landingTitle
  @extend .centerVertical
  top: 30%
  margin: 0px

.letter
  display: inline-block

#name
  color: $marigold

#landingDescription
  @extend .centerVertical
  top: 30%
  margin: 0px
  transform-style: preserve-3d
  perspective: 600

#landingBottom
  @extend .centerHorizontal
  position: absolute
  margin-bottom: 80px
  bottom: 30%
  transform-style: preserve-3d
  perspective: 600

  p
    font-size: 1.2em

#landingDownArrow
  margin: 0 auto

.downArrow
  @extend .downArrow
  border-color: $screen

.downArrow:hover
  border-color: $marigold
  color: $screen

#aboutSection
  width: 100%
  height: 60vh
  background-color: $denim

#projectsSection
  width: 100%
  height: 60vh
  background-color: $steel

#contactSection
  width: 100%
  height: 60vh
  background-color: $screen