extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  nav#sideNav
    ul
      li
        .navItemWrapper#homeBullet
          .bullet
            .bulletInner
          .sectionText#homeText Home
          .textUnderline
      li
        .navItemWrapper#aboutBullet
          .bullet
            .bulletInner
          .sectionText#homeText About Me
          .textUnderline
      li
        .navItemWrapper#projectBullet
          .bullet
            .bulletInner
          .sectionText#homeText My Projects
          .textUnderline
      li
        .navItemWrapper#contactBullet
          .bullet
            .bulletInner
          .sectionText#homeText Contact Me
          .textUnderline
  #landing
    #landingWrapper
      img#initialsLogo(src="/images/logos/initials.png")
      #centerWrapper
        h1#landingTitle 
          | Hi, I'm 
          span#name Aaron Michael
        h2#landingDescription
          | I'm a web developer living in the Dallas Fort Worth area
        #landingBottom
          p Learn more about me
          #landingDownArrow.downArrow
  #aboutSection
    .headingWrapper
      h1.headingTitle About Me
      p.headingText These are the technologies that I work with every day.
      .underline
    #techs.aboutInfoBox
      .infoBoxHeader.casscade
        h3 Technologies
        ul.list
          li.techListItem Javascript
            img.techIcon(src="../images/logos/techIcons/javascript.png")
          li.techListItem Java
            img.techIcon(src="../images/logos/techIcons/java.png")
          li.techListItem ReactJS
            img.techIcon(src="../images/logos/techIcons/reactjs.png")
          li.techListItem Redux
            img.techIcon(src="../images/logos/techIcons/redux.png")
          li.techListItem Angular
            img.techIcon(src="../images/logos/techIcons/angular.png")
          li.techListItem NodeJS
            img.techIcon(src="../images/logos/techIcons/nodejs.png")
          li.techListItem MongoDB
            img.techIcon(src="../images/logos/techIcons/mongodb.png")
          li.techListItem Salesforce
            img.techIcon(src="../images/logos/techIcons/salesforce.png")
    #description.aboutInfoBox
      .infoBoxHeader.casscade
        h3 What I Do
        ul.list
          li Web Development
          li Software Development
          li Mobile App Development
          li Bootcamp Instructor
          li Software Testing
          li Web Apps
          li Software Servers
          li Custom APIs
    #training.aboutInfoBox
      .infoBoxHeader.casscade
        h3 Experience
      p.casscade
        | I am a <strong>business savvy, highly-motivated,</strong> full stack developer. I utilize my talents in <strong>web development and object oriented programming</strong> to solve complex, real-world problems with a team of high performing developers.
      p.casscade
        | I am a certified <strong>full-stack</strong> developer for the web who attended <strong class="addUnderline">UCSD Extension</strong> in San Diego.
    #btnSection
      a(href="https://drive.google.com/file/d/1ietTD44UXzuG6nQYrSB4AcCMhZlFW1Zi/view" target="_blank")
        #resumeButton.button My Resume
      #contactButton.button Contact Me
  #projectsSection
    #projectsWrapper
      .headingWrapper
        h1.headingTitle
          | My 
          span.marigold Projects
        p.headingText Browse my work and have fun expoloring the various web apps I have created.
        .underline
      each val in projects
        include components/project
  #paralaxSection
  #contactSection
    #contactWrapper
      .headingWrapper
        h1.headingTitle Contact Me
        p.headingText I would like to hear from you! Complete the form below to get ahold of me.
        .underline
      form#contactForm
        span.input
          input.input-field(id="nameInput" type="text")
          label.input-label(for="nameInput")
            span.input-label-content Name
        span.input
          input.input-field(id="emailInput" type="email")
          label.input-label(for="emailInput")
            span.input-label-content Email
        #messageWrapper
          textarea#message(name="message", cols="30", rows="10" placeholder="Type your message...")
        input#submitButton.button(type="submit", value="Send")
        p#errorMessage
      aside
        #sideContent
          img#myPhoto(src="../images/me/me.jpg", alt="Aaron Michael")
          .underline
          a.contactLink(href="tel:9132195521") 913-219-5521 
          a.contactLink(href="mailto:amcnulty88@swbell.net") amcnulty88@swbell.net
          a#githubIcon.socialIcon(href="https://github.com/amcnulty" target="_blank")
            .redIcon
            .blackIcon
          a#linkedinIcon.socialIcon(href="https://www.linkedin.com/in/aaron-mcnulty/" target="_blank")
            .redIcon
            .blackIcon
          a#stackOverflowIcon.socialIcon(href="https://stackoverflow.com/users/8456358/amcnulty88?tab=profile" target="_blank")
            .redIcon
            .blackIcon
  #successMessage
    h2 Message Sent!
  include nav/footer.pug
  script(src="javascripts/home.js" type="text/javascript")