doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="author" content="Aaron Michael McNulty")
    meta(name="description" content="A professional portfolio page for Aaron Michael McNulty.")
    meta(property="og:title" content="Aaron Michael | A Personal Website For Aaron Michael McNulty")
    meta(property="og:description" content="A professional portfolio page for Aaron Michael McNulty.")
    meta(property="og:image" content="/images/logos/initials.png")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
    block stylesheet
  body
    block content
