.marigold {
  color: #F7CE3E; }

body, html {
  padding: 0px;
  margin: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: unset; }

.centerVertical, #centerWrapper, #landingTitle, #landingDescription {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.centerHorizontal, #landingBottom, #btnSection {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

.centerBoth {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.arrow, .downArrow, .rightArrow {
  position: relative;
  width: 30px;
  height: 30px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  transition: all .1s ease;
  cursor: pointer;
  border-color: #C5C1C0; }

.arrow:hover, .downArrow:hover, .rightArrow:hover {
  border-top: 9px solid black;
  border-right: 9px solid black;
  box-shadow: 2px -2px 0px;
  border-color: #F7CE3E;
  color: #C5C1C0; }

.downArrow {
  transform: rotateZ(135deg);
  bottom: 0px; }

.downArrow:hover {
  bottom: -8px; }

.rightArrow {
  transform: rotateZ(45deg);
  right: 0px; }

.rightArrow:hover {
  right: -8px; }

footer {
  width: 100%;
  padding: 40px;
  background-color: #010A07;
  color: #C5C1C0;
  border-top: 2px solid #F7CE3E;
  border-top-left-radius: 8%;
  border-top-right-radius: 15%;
  box-sizing: border-box; }

footer:after {
  content: '';
  display: block;
  clear: both; }

.copyRight {
  text-align: center;
  font-size: 1.2em;
  margin: 0px; }

.footerHalf {
  position: relative;
  width: 50%;
  float: left;
  box-sizing: border-box; }

#footerBorder {
  position: absolute;
  height: 50%;
  width: 1px;
  background-color: #F7CE3E;
  right: 0px;
  top: 25%; }

.footerList {
  font-size: 1.3em;
  text-align: center; }
  .footerList ul {
    list-style-type: none; }
  .footerList li {
    margin: 6px; }
  .footerList a {
    color: #C5C1C0;
    text-decoration: none; }
  .footerList a:hover {
    color: #F7CE3E; }

input {
  font-size: 100%; }

input:focus {
  outline: none; }

.input {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: block;
  margin: 1em;
    margin-width: 100%;
  box-sizing: border-box;
  font-size: 100%; }

.input-field {
  margin-top: 1em;
  padding: .85em .15em;
  width: 100%;
  background: transparent;
  position: relative;
  display: block;
  color: #C5C1C0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-sizing: border-box; }

.input-label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  pointer-events: none;
  text-align: left;
  display: inline-block;
  color: #C5C1C0;
  font-size: 70.25%;
  user-select: none;
  box-sizing: border-box; }

.input-label-content {
  position: absolute;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  transition: transform .3s ease-out; }

.input-label::before,
.input-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #C5C1C0; }

.input-label::after {
  border-bottom: 4px solid #F7CE3E;
  transform: translate3d(-100%, 0, 0);
  transition: transform .3s ease; }

.input-field:focus + .input-label::after,
.input-filled + .input-label::after {
  transform: translate3d(0, 0, 0); }

.input-field:focus + .input-label .input-label-content,
.input-filled + .input-label .input-label-content {
  transform: translate3d(0, -40%, 0); }

.button {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  border: 1px solid #0A1612;
  border-radius: 4px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 22, 18, 0)), to(rgba(10, 22, 18, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5));
  background-image: -moz-linear-gradient(top, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5));
  background-image: linear-gradient(to bottom, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5)); }

.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 22, 18, 0.5)), to(rgba(10, 22, 18, 0)));
  background-image: -webkit-linear-gradient(top, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0));
  background-image: -moz-linear-gradient(top, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0));
  background-image: linear-gradient(to bottom, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0));
  animation: 4s linear colorPulse infinite; }

#landing {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background/vsCode.jpg");
  background-size: cover;
  color: #C5C1C0; }

#landingWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 600;
  transform: rotateX(80deg); }

#initialsLogo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) translateZ(600px);
  -moz-transform: translate(-50%, -50%) translateZ(600px);
  -ms-transform: translate(-50%, -50%) translateZ(600px);
  -o-transform: translate(-50%, -50%) translateZ(600px);
  transform: translate(-50%, -50%) translateZ(600px); }

#centerWrapper {
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 600; }

#landingTitle {
  top: 30%;
  margin: 0px; }

.letter {
  display: inline-block; }

#name {
  color: #F7CE3E; }

#landingDescription {
  top: 30%;
  margin: 0px;
  transform-style: preserve-3d;
  perspective: 600;
  visibility: hidden; }

#landingBottom {
  position: absolute;
  margin-bottom: 80px;
  bottom: 30%;
  transform-style: preserve-3d;
  perspective: 600; }
  #landingBottom p {
    font-size: 1.2em;
    visibility: hidden; }

#landingDownArrow {
  margin: 0 auto; }

#aboutSection {
  position: relative;
  width: 100%;
  background: url("../images/background/aboutMeBackground.jpg") center center;
  background-size: cover;
  padding: 100px 0px 100px 0px;
  box-sizing: border-box;
  color: #C5C1C0;
  font-size: 1.5em;
  line-height: 1.5em; }

#aboutSection::after {
  content: '';
  display: block;
  clear: both; }

.headingWrapper {
  width: 100%;
  text-align: center; }

.headingTitle {
  font-size: 3em;
  margin: 0px 0px 60px 0px; }

.headingText {
  font-size: .8em;
  font-style: italic; }

.underline {
  width: 60px;
  height: 10px;
  background-color: #F7CE3E;
  margin: 60px auto 60px auto; }

#aboutSection strong {
  color: whitesmoke; }

.aboutInfoBox {
  width: 33%;
  float: left; }

.infoBoxHeader {
  width: 300px;
  margin: 0 auto; }
  .infoBoxHeader h3 {
    text-align: center;
    border-bottom: 1px solid #F7CE3E; }

.list {
  padding: 0px; }

.addUnderline {
  text-decoration: underline; }

.techListItem {
  visibility: hidden;
  list-style: none;
  background-color: #0A1612;
  border: 1px solid #C5C1C0;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 1px #C5C1C0;
  margin: 14px;
  padding: 8px 20px 8px 46px;
  font-size: .8em;
  line-height: 30px; }

.techIcon {
  height: 30px;
  float: right; }

#training p {
  visibility: hidden;
  padding-right: 20px; }

#btnSection {
  position: absolute;
  bottom: 100px; }

@keyframes colorPulse {
  0% {
    box-shadow: 0px 0px 10px 2px green;
    border-color: green; }
  20% {
    box-shadow: 0px 0px 10px 2px blue;
    border-color: blue; }
  40% {
    box-shadow: 0px 0px 10px 2px red;
    border-color: red; }
  60% {
    box-shadow: 0px 0px 10px 2px #F7CE3E;
    border-color: #F7CE3E; }
  80% {
    box-shadow: 0px 0px 10px 2px pink;
    border-color: pink; }
  100% {
    box-shadow: 0px 0px 10px 2px green;
    border-color: green; } }

#projectsSection {
  width: 100%;
  padding: 100px 0px 100px 0px;
  color: #C5C1C0;
  background-color: #0A1612;
  box-shadow: 0px 0px 50px 100px #0A1612;
  font-size: 1.5em; }

#projectsSection:after {
  content: '';
  clear: both;
  display: block; }

#projectsWrapper {
  width: 700px;
  margin: 0 auto; }

.projectWrapper {
  width: 50%;
  float: left;
  margin: 15px 0px 15px 0px; }

.inactive {
  text-decoration: none;
  color: unset; }

.project {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 4px;
  margin: 0 auto;
  box-sizing: border-box; }

.project:hover {
  animation: 4s linear colorPulse infinite; }

.child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 4px; }

.vale {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all .5s ease; }
  .vale p {
    font-size: .7em;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden; }

.vale:hover {
  opacity: 1; }

.projectButton {
  position: absolute;
  width: 130px;
  height: 50px;
  bottom: 15px;
  line-height: 50px;
  font-size: .7em;
  font-weight: bold;
  transition: all .3s ease; }

.projectButton:hover {
  transform: scale(1.05); }

.codeButton {
  left: 15px;
  background-color: blue; }
  .codeButton img {
    height: 50px;
    float: right; }

.linkButton {
  right: 15px;
  background-color: teal;
  box-sizing: border-box;
  padding-left: 30px;
  text-align: left; }
  .linkButton div {
    position: absolute;
    left: 90px;
    top: 12px;
    width: 20px;
    height: 20px; }

#paralaxSection {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("../images/background/paralaxBackground.jpg") center center no-repeat;
  background-size: contain;
  background-attachment: fixed;
  z-index: -1; }

#contactSection {
  width: 100%;
  padding: 100px 0px 100px 0px;
  background-color: #0A1612;
  color: #C5C1C0;
  box-shadow: 0px 0px 50px 100px #0A1612;
  font-size: 1.5em; }

#contactSection:after {
  content: "";
  display: block;
  clear: both; }

#contactWrapper {
  width: 90%;
  margin: 0 auto; }

#contactHeader {
  text-align: center; }

#contactForm {
  width: 60%;
  float: left; }

#messageWrapper {
  box-sizing: border-box;
  margin: 1em; }

#message {
  font-size: 100%;
  resize: none;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border: 4px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  background-color: #1A2930;
  color: #C5C1C0; }

#message:focus, .textarea-filled {
  outline: none;
  border: 4px solid #F7CE3E; }

#submitButton {
  margin: 1em; }

#errorMessage {
  display: inline-block;
  color: red; }

aside {
  width: 40%;
  float: left;
  padding-left: 80px;
  box-sizing: border-box; }

#sideContent {
  position: relative;
  width: 100%;
  padding: 50px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px grey;
  box-sizing: border-box; }

#myPhoto {
  display: block;
  width: 100%;
  max-width: 242.47px;
  max-height: 300px;
  margin: 0 auto; }

.contactLink {
  display: block;
  margin: 1em 0em;
  font-size: .8em;
  color: lightblue; }

.socialIcon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px; }
  .socialIcon div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px; }

.blackIcon {
  background-size: contain;
  transition: opacity .3s ease; }

.blackIcon:hover {
  opacity: 0; }

.redIcon {
  background-size: contain; }

#githubIcon .redIcon {
  background-image: url("../images/logos/socialMediaIcons/github_red.png"); }

#githubIcon .blackIcon {
  background-image: url("../images/logos/socialMediaIcons/github_black.png"); }

#linkedinIcon .redIcon {
  background-image: url("../images/logos/socialMediaIcons/linkedin_red.png"); }

#linkedinIcon .blackIcon {
  background-image: url("../images/logos/socialMediaIcons/linkedin_black.png"); }

#stackOverflowIcon .redIcon {
  background-image: url("../images/logos/socialMediaIcons/stackoverflow_red.png"); }

#stackOverflowIcon .blackIcon {
  background-image: url("../images/logos/socialMediaIcons/stackoverflow_black.png"); }

/*# sourceMappingURL=home.css.map */