.marigold {
  color: #F7CE3E; }

body, html {
  padding: 0px;
  margin: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

.centerVertical, #centerWrapper, #landingTitle, #landingDescription {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.centerHorizontal, #landingBottom, #btnSection {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

.centerBoth {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.arrow, .downArrow {
  position: relative;
  width: 30px;
  height: 30px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  transition: all .1s ease; }

.arrow:hover, .downArrow:hover {
  color: white;
  border-top: 9px solid black;
  border-right: 9px solid black;
  box-shadow: 2px -2px 0px; }

.downArrow {
  transform: rotateZ(135deg);
  bottom: 0px;
  cursor: pointer; }

.downArrow:hover {
  bottom: -8px; }

footer {
  width: 100%;
  height: 300px;
  background-color: #0A1612; }

#landing {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background/vsCode.jpg");
  background-size: cover;
  color: #C5C1C0; }

#landingWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 600;
  transform: rotateX(80deg); }

#initialsLogo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) translateZ(600px);
  -moz-transform: translate(-50%, -50%) translateZ(600px);
  -ms-transform: translate(-50%, -50%) translateZ(600px);
  -o-transform: translate(-50%, -50%) translateZ(600px);
  transform: translate(-50%, -50%) translateZ(600px); }

#centerWrapper {
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 600; }

#landingTitle {
  top: 30%;
  margin: 0px; }

.letter {
  display: inline-block; }

#name {
  color: #F7CE3E; }

#landingDescription {
  top: 30%;
  margin: 0px;
  transform-style: preserve-3d;
  perspective: 600;
  visibility: hidden; }

#landingBottom {
  position: absolute;
  margin-bottom: 80px;
  bottom: 30%;
  transform-style: preserve-3d;
  perspective: 600; }
  #landingBottom p {
    font-size: 1.2em;
    visibility: hidden; }

#landingDownArrow {
  margin: 0 auto; }

.downArrow {
  border-color: #C5C1C0; }

.downArrow:hover {
  border-color: #F7CE3E;
  color: #C5C1C0; }

#aboutSection {
  position: relative;
  width: 100%;
  background: url("../images/background/aboutMeBackground.jpg") center center;
  background-size: cover;
  padding: 100px 0px 100px 0px;
  box-sizing: border-box;
  color: #C5C1C0;
  font-size: 1.5em;
  line-height: 1.5em; }

#aboutSection::after {
  content: '';
  display: block;
  clear: both; }

#aboutHeader {
  text-align: center; }

.aboutInfoBox {
  width: 33%;
  float: left; }

.infoBoxHeader {
  width: 300px;
  margin: 0 auto; }
  .infoBoxHeader h3 {
    text-align: center;
    border-bottom: 1px solid #C5C1C0; }

.list {
  padding: 0px; }

.addUnderline {
  text-decoration: underline; }

.techListItem {
  visibility: hidden;
  list-style: none;
  background-color: #0A1612;
  border: 1px solid #C5C1C0;
  box-shadow: 1px 1px 8px 1px #C5C1C0;
  margin: 14px;
  padding: 8px 20px 8px 46px;
  font-size: .8em;
  line-height: 30px; }

.techIcon {
  height: 30px;
  float: right; }

#training p {
  visibility: hidden;
  padding-right: 20px; }

#btnSection {
  position: absolute;
  bottom: 0px; }

.aboutBtn {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  border: 1px solid #0A1612;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 22, 18, 0)), to(rgba(10, 22, 18, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5));
  background-image: -moz-linear-gradient(top, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5));
  background-image: linear-gradient(to bottom, rgba(10, 22, 18, 0), rgba(10, 22, 18, 0.5)); }

.aboutBtn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 22, 18, 0.5)), to(rgba(10, 22, 18, 0)));
  background-image: -webkit-linear-gradient(top, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0));
  background-image: -moz-linear-gradient(top, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0));
  background-image: linear-gradient(to bottom, rgba(10, 22, 18, 0.5), rgba(10, 22, 18, 0)); }

#projectsSection {
  width: 100%;
  padding: 100px 0px 100px 0px;
  color: #C5C1C0;
  background-color: #0A1612;
  box-shadow: 0px 0px 50px 100px #0A1612; }

#projectsSection:after {
  content: '';
  clear: both;
  display: block; }

#projectsWrapper {
  width: 700px;
  margin: 0 auto; }

#projectsHeader {
  text-align: center;
  padding: 30px 0px 30px 0px;
  border-bottom: 2px solid #F7CE3E; }

.projectWrapper {
  width: 50%;
  float: left;
  margin: 15px 0px 15px 0px; }

.project {
  width: 320px;
  height: 320px;
  background-color: green;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box; }

.project:hover {
  border: 1px solid #F7CE3E; }

#paralaxSection {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("../images/background/paralaxBackground.jpg") center center no-repeat;
  background-size: contain;
  background-attachment: fixed;
  z-index: -1; }

#contactSection {
  width: 100%;
  height: 70vh;
  padding: 100px 0px 100px 0px;
  background-color: #C5C1C0;
  box-shadow: 0px 0px 50px 100px #C5C1C0; }

#contactWrapper {
  width: 80%;
  margin: 0 auto; }

#contactHeader {
  text-align: center; }

/*# sourceMappingURL=home.css.map */