footer
  .copyRight &copy; Aaron Michael McNulty 2018
  .footerHalf#leftFooter
    #footerBorder
    nav.footerList
      ul
        li
          a(href="#landing") Home
        li
          a(href="#aboutSection") About Me
        li
          a(href="#projectsSection") My Projects
        li
          a(href="#contactSection") Contact Me
  .footerHalf#rightFooter
    .footerList
      ul
        li
          a(href="https://github.com/amcnulty") GitHub
        li
          a(href="https://www.linkedin.com/in/aaron-mcnulty/") LinkedIn
        li
          a(href="https://stackoverflow.com/users/8456358/amcnulty88?tab=profile") StackOverflow
        li
          a(href="") Resume