footer
  .copyRight &copy; Aaron Michael McNulty 2018
  .footerHalf#leftFooter
    #footerBorder
    nav.footerList
      ul
        li
          a(href="#landing") Home
        li
          a(href="#aboutSection") About Me
        li
          a(href="#projectsSection") My Projects
        li
          a(href="#contactSection") Contact Me
  .footerHalf#rightFooter
    .footerList
      ul
        li
          a(href="https://github.com/amcnulty" target="_blank") GitHub
        li
          a(href="https://www.linkedin.com/in/aaron-mcnulty/" target="_blank") LinkedIn
        li
          a(href="https://stackoverflow.com/users/8456358/amcnulty88?tab=profile" target="_blank") StackOverflow
        li
          a(href="./resume/aaron_mcnulty_resume.pdf" target="_blank") Resume